<p>Delete $band.getName()?</p>

<form action="/band/delete" method="post">
  <input id="band_id" name="band_id" type="hidden" value="$band.getId()">
  <button type="submit" class="btn btn-default">Confirm Delete Band</button>
</form>
