<h1>All bands</h1>

<ul>
  #foreach ($band in $bands)
    <li><a href="/bands/$band.getId()">$band.getName()</a></li>
  #end
</ul>

<a href="/new-band/form">Add new Band</a>
<a href="/venues">Venues</a>
<a href="/">home</a>
