<h1>Add a Band</h1>

<p>Add a Band here:</p>

<form action="/bands" method="post">
  <label for="band_name">Band name</label>
  <input id="band_name" name="band_name" type="text">
  <button type="submit" class="btn btn-success">Add Band</button>
</form>
