<h1>Add a venue</h1>

<p>Add a venue here:</p>

<form action="/venues" method="post">
  <label for="venue_name">Venue name</label>
  <input id="venue_name" name="venue_name" type="text" required pattern="[a-zA-Z0-9].*$">
  <button type="submit" class="btn btn-success">Add Venue</button>
</form>
